/*
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
  background: hsl(212, 45%, 89%);
  text-align: center;
}

.container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  padding: 9%;
}

.container_item {
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}

.container_item_image {
  border-radius: 0.5rem;
  object-fit: cover;
  display: block;
}

.container_item h2 {
  margin: 1.2rem 1rem 1rem;
  color: hsl(218, 44%, 22%);
  font-size: 20px;
  font-weight: 700;
}

.container_item h3 {
  margin: 1.2rem 1rem 2rem;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}
